{{>top}}
{{>sidebar}}
<div class="main">
    <div class="busqueda_parte">
        <h3 style="text-align: center;">L O C A L E S</h3>
        <br>
        <div class="row">
            <div class="span6">
                <form action="/local/find" method="POST">
                    <input class="redondeado" type="text" name="buscadorBox" placeholder="   BUSCAR">
                    <input type="image" src="iconos/buscar.png" width="18" height="18" role="button">
                </form>

            </div>
            <div class="span6 ml-auto">
                <a class="btn btn_personalizado" href="/local"
                    role="button">REGISTRAR</a>
            </div>

        </div>

    </div>
    <div class="presentar">
        <table>
            <thead class="cabecera">
                <tr>
                    <th class="sep" style="color:#ffffff;">Nombre</th>
                    <th class="sep" style="color:#ffffff;">Imagen</th>
                    <th class="sep" style="color:#ffffff;">Direccion</th>
                    <th class="sep" style="color:#ffffff;"></th>
                    <th class="sep" style="color:#ffffff;"></th>
                    <th class="sep" style="color:#ffffff;"></th>
                </tr>
            </thead>
            {{#each locales}}
            <tr>
                <td class="sep">{{nombre}}</td>
                <td class="sep"><img src={{img}}></td>
                <td class="sep">{{direccion}}</td>
                 <td class="sep">
                    <a href="/administrador/edit/{{_id}}">
                        <img src="iconos/editar.png" width="18" height="22" loading="lazy">
                    </a>       
                </td>
                <td class="sep">
                    <a href="/administrador/edit/{{_id}}">
                        <img src="iconos/editar.png" width="18" height="22" loading="lazy">
                    </a>       
                </td>
                <td class="sep">
                    <form action="/administrador/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="image" src="iconos/eliminar.png" width="18" height="22" role="button">
                    </form>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>