{{>top}}
{{>sidebar}}
<div class="main">
    <div class="busqueda_parte">
        <a href="/pedido/pendiente" style="color:#622870;"><img src="iconos/atras.png" width="10" height="15" loading="lazy"> Atrás</a>
        <h3 style="text-align: center;">P E D I D O S</h3>
        <h5 style="text-align: center; color: #cb1189;">Crea Pedido Nuevo</h5>
        <br>
        <form id="crear_formulario" action="/pedido/add" method="POST">
            <div class="top" > 
                <label>N.- Orden:</label>
                <input class="redondeado" type="text" name="npedido" disabled>
                <label c>Fecha:</label>
                <input class="redondeado" type="date" name="fecha" value=""/>
            </div>
            <input type="hidden" name="usernombre" value={{usuario.cuenta}}> 
        </form>

            <br>
            <div class="cuerpo">
                <h5>Datos del Comprador</h5>
                <div class="row">
                    
                    <div class="spans2">
                        <form action="/pedido/findCliente" method="POST">
                            <div>
                                <label>Cliente:</label>
                                <input class="redondeado derecha" style="width: 200px;" type="text" name="usernombre" value={{usuario.cuenta}}> 
                                <input type="image" src="iconos/buscar.png" width="18" height="18" role="button">
                            </div>
                        </form>
                        
                        <div>
                            <label>RUC/CI:</label>
                            <input class="redondeado derecha" style="width: 220px;" type="text" form="crear_formulario" name="userruc" value={{usuario.userruc}}>
                        </div>
                        <div>
                            <label>Correo:</label>
                            <input class="redondeado derecha" style="width: 220px;" type="mail" form="crear_formulario" name="usermail" value={{usuario.usermail}}>
                        </div>
                        
                    </div>
                    <div class="spans2">
                        <div>  
                            <label>Direccion: </label>
                            <input class="redondeado derecha" style="width: 220px;" type="text" form="crear_formulario" name="userdir" value={{usuario.userdir}}>
                        </div>
                        <div>
                            <label>Telefono:  </label>
                            <input class="redondeado derecha" style="width: 220px;" type="text" form="crear_formulario" name="userfono" value={{usuario.userfono}}>
                        </div>
                        <div>
                            <label>F. Pago:   </label>
                            <select class="redondeado derecha" style="width: 220px;" form="crear_formulario" name="fpago" value={{usuario.fpago}}>
                                <option value="{{usuario.fpago}}">{{usuario.fpago}}</option>
                                <option value="Efectivo">Efectivo</option>
                                <option value="Cheque a fecha">Cheque a fecha</option>
                                <option value="Tarjeta">Debito/Tarjeta</option>
                                <option value="Credito Directo">Credito Directo</option>
                            </select>
                        </div>
                    </div>
                    <div class="spans2">
                        <div>
                            <label>F. Entrega:   </label>
                            <select class="redondeado derecha" style="width: 220px;" form="crear_formulario" name="fentrega" value={{usuario.fentrega}}>
                                <option value="{{usuario.fentrega}}">{{usuario.fentrega}}</option>
                                <option value="Domicilio">Dominicilio</option>
                                <option value="Despacho">Despacho en Local</option>
                                <option value="Entregado">Entrega Inmediata</option>
                            </select>
                        </div>
                        
                    </div>
                
                </div>
               
            </div>
            <br>
        
            <div class="row">
                <div class="spang">
                    <div class="seccion_detalle">
                        <h5>Detalle de Orden</h5>
                       
                        <table class="table-template">
                        <thead class="cabecera">
                            <tr>
                                <th class="sep" style="color:#ffffff;">Codigo</th>
                                <th class="sep" style="color:#ffffff;">Nombre</th>
                                <th class="sep" style="color:#ffffff;">Cantidad</th>
                                <th class="sep" style="color:#ffffff;">P. Unit</th>
                                <th class="sep" style="color:#ffffff;">SubTotal</th>
                                <th class="sep" style="color:#ffffff;">IVA</th>
                                <th class="sep" style="color:#ffffff;">Total</th>
                            </tr>
                        </thead>
                        {{#each detallepdido}}
                        <tr>
                            <td class="sep">{{productcodigo}}</td>
                            <td class="sep">{{productnombre}}</td>
                            <td class="sep">{{productcant}}</td>
                            <td class="sep">{{productprecio}}</td>
                            <td class="sep">{{producsubtotal}}</td>
                            <td class="sep">{{ProductiVA}}</td>
                            <td class="sep">{{producttotal}}</td>
                        </tr>
                        {{/each}}
                    </table>


                    </div>

                </div>
                <div class="spans2">
                    <div class="valores">
                        <h5>Importes</h5>
                        <div>
                            <label>Sub Total: </label>
                            <input class="redondeado derecha" style="width: 200px;" type="text" form="crear_formulario" name="subtotal1" value={{usuario.subtotal1}}>
                        </div>
                        <div>
                            <label>Descuento: </label>
                            <input class="redondeado derecha" style="width: 200px;" type="text" form="crear_formulario" name="descuento" value={{usuario.descuento}}>
                        </div>
                        <div>
                            <label>Sub Total: </label>
                            <input class="redondeado derecha" style="width: 200px;" type="text" nform="crear_formulario" name="subtotal2" value={{usuario.subtotal2}}>
                        </div>
                        <div>
                            <label>IVA: </label>
                            <input class="redondeado derecha" style="width: 200px;" type="text" form="crear_formulario" name="iva" value={{usuario.iva}}>
                        </div>
                        <div>
                            <label>Total: </label>
                            <input class="redondeado derecha" style="width: 200px;" type="text" form="crear_formulario" name="total" value={{usuario.total}}>
                        </div>
                    </div>
                    <br>
                    <div>
                        <button form="crear_formulario" class="button btn btn_personalizado">Crear Pedido</button>
                    </div>
                
                </div>
            </div>


        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add Producto
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="buscarproducto" action="/pedido/findProducto" method="POST">
                        <div>
                            <label>Cliente:</label>
                            <input class="redondeado derecha" style="width: 200px;" type="text" name="usernombre" value={{usuario.cuenta}}> 
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" form="buscarproducto" class="btn btn-primary">Agregar Producto</button>
                </div>
                </div>
            </div>
        </div>
        <!-- fin de modal -->

    </div>
</div>



