{{>top}}
{{>sidebar}}
<div class="main">
    <div class="busqueda_parte">
        <a href="/administradores/all" style="color:#622870;"><img src="iconos/atras.png" width="10" height="15" loading="lazy"> Atrás</a>
        <h3 style="text-align: center;">A D M I N I S T R A D O R E S</h3>
        <h5 style="text-align: center; color: #cb1189;">Registrar administradores</h5>
        <br>
        <br>
        <form action="/administrador/edit/{{administrador._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="row">
                <div class="spanp">
                    <div class="separador">
                        <label>Nombre:</label>
                        <input class="redondeado derecha" type="text" id="nombre" name="nombre" value="{{administrador.nombre}}" />
                    </div>
                    <div class="separador">
                        <label>Apellido:</label>
                        <input class="redondeado derecha" type="text" id="apellido" name="apellido" value="{{administrador.apellido}}" />
                    </div>
                    <div class="separador">
                        <label>Correo:</label>
                        <input class="redondeado derecha" type="email" id="email" name="email" value="{{administrador.email}}" />
                    </div>

                    <div class="separador">
                        <label>Usuario:</label>
                        <input class="redondeado derecha" type="text" id="cuenta" name="cuenta" value="{{administrador.cuenta}}" />
                    </div>
                    <div class="separador">
                        <label>Contraseña:</label>
                        <input class="redondeado derecha" type="password" id="contrasena" name="contrasena" value="{{administrador.contrasena}}" />
                    </div>
                </div>

                <div class="spanp">

                    <div class="separador">
                        <label>Imagen:</label>
                        <input type="file" id="img" name="img" accept=".png, .jpeg">
                    </div>
                    
                    <div class="separador">
                        <label>Permisos:</label>
                        <br>
                        <div class="spans">
                             <div class="separador">
                            <label for="db">Base de Datos:</label>
                            <label class="switch derecha">
                                {{#if administrador.db}}
                                    <input type="checkbox" id="db" name="db" value="S" checked>
                                {{else}}
                                    <input type="checkbox" id="db" name="db" value="S">
                                {{/if}}
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <div class="separador" >
                            <label for="creacion">Administrador:</label>
                            <label class="switch derecha">
                                {{#if administrador.creacion}}
                                    <input type="checkbox" id="creacion" name="creacion" value="S" checked>
                                {{else}}
                                    <input type="checkbox" id="creacion" name="creacion" value="S">
                                {{/if}}
                                    
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <div class="separador">
                            <label for="supervision">Supervisor:</label>
                            <label class="switch derecha">
                                {{#if administrador.supervision}}
                                    <input type="checkbox" id="supervision" name="supervision" value="S" checked>
                                {{else}}
                                    <input type="checkbox" id="supervision" name="supervision" value="S">
                                {{/if}}
                                <span class="slider round"></span>
                            </label>
                        </div>

                        </div>
                    </div>
                    <button class="button btn btn_personalizado">REGISTRAR</button>
                </div>

            </div>
        </form>
    </div>
</div>